**/*.log
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
.dockerignore
**/Thumbs.db
.github/
.git/
.idea/
docker-compose.yml
Dockerfile
api/v1/var/
api/v1/vendor/
api/v1/cache/
node_modules/
.editorconfig
.env.*.local
.env.local
.env.local.php
.env.test
