/*@use "bootstrap/index.css"*/
@use "gephart/index.sass"
@use "reactModal.css"
@use "reactTabs.css"
@use "components/tracker"

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap')

html
  font-size: 14px

body
  font-family: 'Poppins', sans-serif

  @media (min-width: 768px)
    .sidebar
      max-width: 230px

  @media (min-width: 992px)
    .content
      margin-left: calc(230px + .5rem)

.cursor-pointer
  cursor: pointer

.list-group-item--done
  &:before
    border-color: #1f2937!important

  &:after
    border-color: #1f2937!important
    background: #1f2937!important

.list-group-item--stripe
  text-decoration: line-through

.card-item-wrap
  &:before
    position: absolute
    content: ""
    top: -0.48rem
    left: 0
    width: 100%
    height: 0.24rem
    background: black
    border-radius: 1rem
    opacity: .4
    transition: all .2s
    opacity: 0

  &:after
    position: absolute
    content: ""
    bottom: -0.48rem
    left: 0
    width: 100%
    height: 0.24rem
    background: black
    border-radius: 1rem
    opacity: .4
    transition: all .2s
    opacity: 0

.card-item-wrap-overTop
  z-index: 999
  &:before
    opacity: .4

.card-item-wrap-overDown:after
  opacity: .4

.card-item-wrap-overDown + .card-item-wrap-overTop:before
  opacity: 0!important

.timetrack-table
  &__item
    border-radius: .5rem
    padding: 0!important
    font-weight: 400
    font-size: 1rem
    cursor: pointer
    transition: none

    &:hover
      max-height: calc(60*24px)!important
      z-index: 9

    &__content
      padding: .5rem

.table tr:has(+ tr.thead-light) td
  border-bottom: 0