{% extends "admin/default.html.twig" %}

{% block content %}

    <h1>Stav úkolu - úprava</h1>

    <form action="{{ _router.generateUrl("admin_taskStatus_edit", {"id":taskStatus.id}) }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="form_edit_name">Název</label>
                <input value="{{ taskStatus.Name }}" type="text" name="name" class="form-control" id="form_edit_name"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_color">Barva</label>
                <input value="{{ taskStatus.Color }}" type="text" name="color" class="form-control" id="form_edit_color"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_priority">Priorita</label>
                <input step="1" value="{{ taskStatus.Priority }}" type="number" name="priority" class="form-control" id="form_edit_priority"
                >
            </div>
        <button type="submit" class="btn btn-default">Uložit</button>
    </form>

{% endblock %}